.idea/
commonjs/
coverage/
dist/
doc/
docs/api/
docs/functions/
docs/.vuepress/dist/
docs/.vuepress/api-sidebar-relative.json
docs/.vuepress/api-sidebar.json
typedoc/
es/
languages/
lib/
test-jasmine/
test-jest/
node_modules/
typings/

*.iml
dev*.html
yarn-error.log
.DS_Store
