# Ignore all files and directories in this repository...
*
*/

# ...and add files and directories that are the only ones that match the pattern below
!commonjs/**/*
!dist/**/*
!es/**/*
!typings/**/*
!github-hf-logo-blue.svg
!gpl-3.0.txt
!CHANGELOG.md
