name: Test

on: [push]

defaults:
  strategy:
    matrix:
      node-version: [ '12' ]
      os: [ 'ubuntu-latest' ]
  runs-on: ${{ matrix.os }}

jobs:
  build:
    name: BUILD
    steps:
      - uses: actions/checkout@722adc63f1aa60a57ec37892e133b1d319cae598 # https://github.com/actions/checkout/releases/tag/v2.0.0

      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@83c9f7a7df54d6b57455f7c57ac414f2ae5fb8de # https://github.com/actions/setup-node/releases/tag/v1.4.1
        with:
          node-version: ${{ matrix.node-version }}

      - name: Install dependencies
        run: |
          npm ci

      - name: Run tests
        run: |
          npm run bundle-all
  unit:
    name: UNIT
    steps:
      - uses: actions/checkout@722adc63f1aa60a57ec37892e133b1d319cae598 # https://github.com/actions/checkout/releases/tag/v2.0.0

      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@83c9f7a7df54d6b57455f7c57ac414f2ae5fb8de # https://github.com/actions/setup-node/releases/tag/v1.4.1
        with:
          node-version: ${{ matrix.node-version }}

      - name: Install dependencies
        run: |
          npm ci

      - name: Run tests
        run: |
          npm run test:unit
  browsers:
    name: BROWSERS
    steps:
      - uses: actions/checkout@722adc63f1aa60a57ec37892e133b1d319cae598 # https://github.com/actions/checkout/releases/tag/v2.0.0

      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@83c9f7a7df54d6b57455f7c57ac414f2ae5fb8de # https://github.com/actions/setup-node/releases/tag/v1.4.1
        with:
          node-version: ${{ matrix.node-version }}

      - name: Install dependencies
        run: |
          npm ci

      - name: Run tests
        run: |
          npm run test:browser
