name: Test

on: [push]

jobs:
  build:
    strategy:
      matrix:
        node-version: [ '14' ]
        os: [ 'ubuntu-latest' ]
    name: BUILD
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@722adc63f1aa60a57ec37892e133b1d319cae598 # https://github.com/actions/checkout/releases/tag/v2.0.0

      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@83c9f7a7df54d6b57455f7c57ac414f2ae5fb8de # https://github.com/actions/setup-node/releases/tag/v1.4.1
        with:
          node-version: ${{ matrix.node-version }}

      - name: Install dependencies
        run: |
          npm ci

      - name: Run tests
        run: |
          npm run bundle-all

  unit:
    strategy:
      matrix:
        node-version: [ '14' ]
        os: [ 'ubuntu-latest' ]
    name: UNIT
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@722adc63f1aa60a57ec37892e133b1d319cae598 # https://github.com/actions/checkout/releases/tag/v2.0.0

      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@83c9f7a7df54d6b57455f7c57ac414f2ae5fb8de # https://github.com/actions/setup-node/releases/tag/v1.4.1
        with:
          node-version: ${{ matrix.node-version }}

      - name: Install dependencies
        run: |
          npm ci

      - name: Run tests
        run: |
          npm run test:unit --  --logHeapUsage --detect-leaks --coverage
          
      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@6004246f47ab62d32be025ce173b241cd84ac58e # https://github.com/codecov/codecov-action/releases/tag/v1.0.13

  browsers:
    strategy:
      matrix:
        node-version: [ '14' ]
        os: [ 'ubuntu-latest' ]
    name: BROWSERS
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@722adc63f1aa60a57ec37892e133b1d319cae598 # https://github.com/actions/checkout/releases/tag/v2.0.0

      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@83c9f7a7df54d6b57455f7c57ac414f2ae5fb8de # https://github.com/actions/setup-node/releases/tag/v1.4.1
        with:
          node-version: ${{ matrix.node-version }}

      - name: Install dependencies
        run: |
          npm ci

      - name: Run tests
        run: |
          npm run test:browser
